.hover-lighten:hover {
  filter: contrast(0.1);
}

.focus-lighten:focus {
  filter: contrast(0.1);
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pe-2 {
  padding-right: 0.5rem
}

.my-1 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.gap-1 {
  gap: 0.25rem
}

.gap-2 {
  gap: 0.5rem
}
